.text-white {color: white;}
.bg-white {background-color: #fff;}
.bg-color{background-color: #eea47f;}
.text-black{color: #000;}
.bg-blue{background-color: #01539d;}
.text-blue{color: #01539d;}
.candidate_img{width: 80px; height: 80px; border: 1px solid black;border-radius: 100%;}
.text-color{color: #01539d;}